{% extends "base.html" %}
{% block title %}Soul Stats - Восстановление пароля{% endblock %}
{% block content %}

<!-- Спиннер поверх всей страницы -->
<div id="spinner-overlay">
    <div class="spinner"></div>
</div>

<div style="max-width: 400px; width: 100%;">
    <h2 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 20px; text-align: center;">Восстановление пароля</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" style="padding: 10px; margin-bottom: 15px; border-radius: 10px;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post" style="display: flex; flex-direction: column; gap: 15px;">
        <input type="email" name="email" placeholder="Введите ваш email" class="form-input">
        <button type="submit"
                class="form-button">Отправить ссылку</button>
    </form>

    <div style="margin-top: 15px; font-size: 0.9rem; display: flex; justify-content: center;">
        <a href="/login" style="color: #4a90e2; text-decoration: none;">Войти</a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const overlay = document.getElementById("spinner-overlay");

        form.addEventListener("submit", function () {
            overlay.style.display = "flex";
        });
    });
</script>
{% endblock %}
