{% extends "base.html" %}
{% block title %}Soul Stats - Авторизация{% endblock %}
{% block content %}
<div style="max-width: 400px; width: 100%;">
    <h2 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 20px; text-align: center;">Авторизация</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" style="padding: 10px; margin-bottom: 15px; border-radius: 10px; color: #e0e0e0; background: #3b3b5a;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="logo-position">
        <div class="logo-position">
            <img class="logo-dark" src="{{ url_for('static', filename='img/logo-white.svg') }}" alt="Логотип">
            <img class="logo-light" src="{{ url_for('static', filename='img/logo-blue.svg') }}" alt="Логотип">
        </div>
    </div>
    <form action="/login" method="post" style="display: flex; flex-direction: column; gap: 15px;">
        <input type="text" name="username" placeholder="Введите ваш никнейм" class="form-input">
        <input type="password" name="password" placeholder="Введите ваш пароль" class="form-input">
        <button type="submit" class="form-button">Войти</button>
    </form>
    <div style="margin-top: 15px; font-size: 0.9rem; display: flex; justify-content: space-between;">
        <a href="/forgot-password" style="color: #4a90e2; text-decoration: none;">Забыли пароль?</a>
        <a href="/register" style="color: #4a90e2; text-decoration: none;">Зарегистрироваться</a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}