{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">

<div class="reset-container">
    <h2 class="reset-title">Сброс пароля</h2>
    <div id="spinner-overlay">
        <div class="spinner"></div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="reset-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post" style="display: flex; flex-direction: column; gap: 15px;">
        <input class="reset-input" type="password" name="password" placeholder="Новый пароль" required>
        <input class="reset-input" type="password" name="confirm_password" placeholder="Повторите пароль" required>
        <button class="reset-button" type="submit">Сбросить пароль</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const overlay = document.getElementById("spinner-overlay");

        form.addEventListener("submit", function () {
            overlay.style.display = "flex";
        });
    });
</script>
{% endblock %}
