{% extends "base.html" %}
{% block title %}Статистика счастья{% endblock %}
{% block content %}
<div class="stats-container">
    <h2 class="stats-title">Статистика уровня счастья</h2>
    <div class="stats-charts">
        <!-- Уровень счастья по периодам -->
        <div class="stats-chart-box chart-box">
            <div class="stats-filter-buttons">
                <button onclick="drawHappinessByPeriod('week')">Неделя</button>
                <button onclick="drawHappinessByPeriod('month')">Месяц</button>
                <button onclick="drawHappinessByPeriod('all')">Всё время</button>
            </div>
            <div id="happiness-period-chart" class="stats-chart"></div>
        </div>

        <!-- Средний по дням недели -->
        <div class="stats-chart-box chart-box">
            <div id="happiness-day-chart" class="stats-chart"></div>
        </div>

        <!-- Средний по эмоциям -->
        <div class="stats-chart-box chart-box">
            <div id="happiness-emotion-chart" class="stats-chart"></div>
        </div>

        <!-- Частота эмоций по периодам -->
        <div class="stats-chart-box chart-box">
            <div class="stats-filter-buttons">
<!--            <button onclick="drawEmotionFrequencyChart('week')">Неделя</button>-->
                <button onclick="drawEmotionFrequencyChart('month')">Месяц</button>
                <button onclick="drawEmotionFrequencyChart('all')">Всё время</button>
            </div>
            <div id="emotion-period-chart" class="stats-chart"></div>
        </div>

    <a onclick="goToDashboard()" class="stats-return-btn">Вернуться в профиль</a>
</div>
{% endblock %}